# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.


#Before running the project, you need to configure your environment variables.
# 1.Copy the example environment file
cp .env.example .env

# 2.Open .env and fill in the required values:
TWITTER_BEARER_TOKEN="bearer"
PMX_API_KEY=""         # Your PMX API key 
PMX_API_AUTHORIZATION="without-bearer" # (without "Bearer" prefix)
PMX_BASE_URL=""                      # Base URL for PMX API
PMX_FEES_BASE_URL=""                 # Base URL for PMX fees API
HISTORIC_PRICES_API_URL=""           # Endpoint for fetching historic prices
HISTORIC_PRICES_API_YES_TOKEN_MINT="" # Token mint address for "YES" market
HISTORIC_PRICES_API_NO_TOKEN_MINT="" # Token mint address for "NO" market
MARKET_SLUG=""   

#3.Install dependencies
npm install
#4.Run the project
npm run dev