.equalizer-stereo {
  user-select: none;
  display: flex;
  gap: 4px;
  align-items: center;
}

.eq-column-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.eq-bars {
  width: 12px;
  display: flex;
  flex-direction: column-reverse;
  gap: 3px;
  align-items: center;
  justify-content: center;
}

.eq-bar {
  width: 8px;
  height: 1px;
  background: white;
  opacity: 0.3;
  transition: opacity 60ms linear;
}

.eq-label {
  margin-top: 3px;
  font-family: "Inter";
  font-size: 17px;
  color: white;

  &-left {
    transform: translateX(1px);
  }
}
